.home {
    text-align: center;
    background-color: rgb(242, 231, 231);
    padding-top: 150px;
    border-radius: 8px;
    height: 600px;
    width: 100%; /* Adjust width */
    margin-top: 10px; /* Add some margin for spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
 p{
    margin-top: 10px;
    font-weight: 700;
    font-size: x-large;
    width: 700px;
    margin-left: 27%;
    line-height:35px;
 }
  
  .buttons {
    margin-top: 30px; /* Space between text and buttons */
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 0 10px; 
    border: none;
    border-radius: 5px;
    background-color: black;
    font-weight: 700;
    font-size: large;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .mark{
    background-color: rgb(20, 223, 20);
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Smooth background and scale effect */
  }
   
  .buttons button:active {
    transform: scale(0.95); /* Slightly reduces size when clicked */
    background-color: #494d51; /* Even darker blue on click */
  }
