.navcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 2%;
  min-height:60px;
  display: flex;
  width: 95%;
  border-radius: 8px;
  background-color: rgb(242, 231, 231);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sections {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  gap: 50px; 
}

.sections li a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none; 
  color: black; 
  transition: all 0.1s ease; 
}

.active {
  background-color: rgb(176, 175, 175); 
  color: black; 
  font-weight: 700; 
  font-size: large; 
  text-decoration: none; 
  padding: 5px 10px; 
  transition: all 0.3s ease; 
  border-radius: 5px; 
}

/* For Mobile devices (480px and below) */
@media (max-width: 480px) {
  .navbar {
    min-height: 40px;
    width: 90%;
    top: 1%; /* Adjust top spacing for mobile */
  }

  .sections {
    gap: 10px; /* Reduce gap further on mobile */
    flex-wrap: wrap; /* Ensure items wrap if necessary */
  }

  .sections li a {
    font-size: 16px; /* Reduce font size for mobile */
    padding: 5px 5px; /* Adjust padding for mobile screens */
  }

  .active {
    font-size: 16px;
    padding: 5px;
  }
}
