.navcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 2%;
  height: 60px;
  display: flex;
  width: 95%;
  border-radius: 8px;
  background-color: rgb(242, 231, 231);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sections {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  gap: 50px; 
}

.sections li a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none; 
  color: black; 
  transition: all 0.1s ease; 
}

.active {
  background-color: rgb(176, 175, 175); 
  color: black; 
  font-weight: 700; 
  font-size: large; 
  text-decoration: none; 
  padding: 5px 10px; 
  transition: all 0.3s ease; 
  border-radius: 5px; 
}

/* Media Queries for responsive design */

/* For Tablets and small screens (768px and below) */
@media (max-width: 768px) {
  .navbar {
    height: 50px;
    width: 100%;
  }

  .sections {
    gap: 30px; /* Reduced gap between links */
  }

  .sections li a {
    font-size: 20px; /* Smaller font size for links */
  }
}

/* For Mobile devices (480px and below) */
@media (max-width: 480px) {
  .navbar {
    height: 50px;
    width: 100%;
    padding: 10px 0;
  }

  .sections {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    gap: 15px; /* Reduced gap between links */
    text-align: center;
  }

  .sections li a {
    font-size: 18px; /* Further reduced font size */
  }

  .active {
    font-size: 18px;
    padding: 5px;
  }
}
